<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav>
        <ul>
          <li id="to-right">
            <a href="/users/signup">Signup</a> <span> | </span>
            <a href="/users/login">Login</a> <span> | </span>
            <a href="/users/profile">Profile</a> <span> | </span>
            <a href="/users/logout">Logout</a> 
          </li>
        </ul>
      </nav>
    {{{body}}}
  </body>
</html>
